<div class="container cancelcondition" >


    <div class="card">


        <h3 style="text-align: center;">Return & Cancellation Conditions</h3>
        <b> 1. Booking Confirmation: </b>
        <ul class="containcancel">
           <li>All reservations made through BookOne are considered confirmed only upon receipt of a booking confirmation.</li>

        </ul>

        <b> 2. Cancellation Policy: </b>
        <ul class="containcancel">
           <li>Cancellation policies are property-specific and may vary between different accommodations listed on BookOne.</li>
           <li>Guests are advised to carefully review the cancellation terms associated with each property at the time of booking.</li>
        </ul>

        <b> 3. Refunds: </b>
        <ul class="containcancel">
           <li>Refund policies may vary between properties listed on BookOne.</li>
           <li>Guests are encouraged to review the specific refund terms associated with each property at the time of booking.</li>
           <li>Refunds, when applicable, will be processed within business days from the date of cancellation, based on the individual property's policy.</li>
           <li>Refunds will be issued to the original payment method used for the reservation. </li>
        </ul>


        <b> 4. Contact Information: </b>
        <ul class="containcancel">
           <li>Guests are encouraged to contact our customer service team at reservation&#64;thehotelmate.co for assistance with cancellations or modifications.</li>
           <li>Guests are encouraged to review the specific refund terms associated with each property at the time of booking.</li>
        </ul>

        <b> 5. Policy Updates:  </b>
        <ul class="containcancel">
           <li>BookOne reserves the right to update this policy without prior notice. Guests are encouraged to review the policy periodically for any changes.</li>

        </ul>
    </div>
    </div>
