<div [ngClass]="{ 'background-image-website': businessUser?.id === 3063 }">
  <app-Header-Listingdetailsone [businessUser]="businessUser">
</app-Header-Listingdetailsone>

<div class="popup-container" *ngIf="copyTextOne">
  <div class="popup-content">
    Enquiry ID copied successfully!

  </div>
</div>

<div class="desktop-view-booking-voucher">
  <div class="container-div">
    <div class="responsive-wrapper">
      <div class="row">
        <div class="col-12">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div (click)="backone()" class="backNavigation">
              <i class="fa-solid fa-angle-left"></i> &nbsp; Go Back
            </div>
            <div class="assistance-section">

            </div>
          </div>
        </div>
      </div>

      <div
        class="d-flex"
        style="align-items: center; gap: 30px; margin-top: 20px"
      >
        <div class="col-6 text-left mb-4 font-change">
          <span
            style="
              font-weight: 600 !important;
              color: #000 !important;
              font-size: 35px !important;
            "
            >Thank you!</span
          >
          <div
            class="mb-0"
            style="
              font-weight: 600 !important;
              color: #2563eb !important;
              font-size: 19px !important;
              margin-top: -5px;
            "
          >
            Your reservation is currently on hold.
          </div>
          <div style="color: #615d5d; font-weight: 600; font-size: 13px">
            We’ve sent your enquiry details to your mail. <br />
            Didn’t receive it yet? It might be in your spam folder — or simply
            check WhatsApp.
          </div>
          <div style=" display: flex; gap: 20px; margin-top: 20px">
          <div
            class="card"
            style="
              text-align: center;
              background-color: #eff6ff;
              padding: 26px 19px;
            "
          >
            <div class="mb-2">
              <span class="highlight-text">Current Status</span>
            </div>
            <div class="mb-0">
              <span class="status-badge status-enquiry" style="font-size: 13px"
                >Enquiry</span
              >
            </div>
          </div>
          <div
            class="card"
            style="
              text-align: center;
              background-color: #eff6ff;
              padding: 26px 19px;
            "
          >
            <div class="mb-2">
              <span class="highlight-text">Payment Status</span>
            </div>
            <div class="mb-0">
              <span class="status-badge status-unpaid" style="font-size: 13px"
                ><i class="fa-solid fa-ban"></i> Unpaid</span
              >
            </div>
          </div>
          <div
            class="card"
            style="
              text-align: center;
              background-color: #eff6ff;
              padding: 26px 19px;
            "
          >
            <div class="mb-2">
              <span class="highlight-text"
                >Enquiry ID
                <img
                  src="assets/images/CopyVoucher.png"
                  alt=""
                  height="15px"
                  width="15px"
                  style="margin-right: 3px; margin-left: 5px; cursor: pointer"
                  (click)="copyText()"
              /></span>
            </div>
            <div class="mb-0" style="text-align: left">
              <span *ngIf="booking?.enquiryId">
                <b id="textToCopy">{{ booking?.enquiryId }}</b></span
              >

            </div>
            <a
              href="https://thehotelmate.co/history"
              style="
                font-size: 11px;
                color: #1465cf;
                text-decoration: none;
                text-align: left;
              "
              >Check Details</a
            >
          </div>
        </div>
        </div>

        <div style="justify-content: center; display: flex; gap: 20px">
          <div class="d-flex justify-content-center align-items-center">

          <div class="hotel-card-unique d-flex flex-row" *ngIf="businessUser?.name">
            <!-- Left Side: Text Content -->
            <div class="hotel-card-unique-body flex-fill">
              <h3 class="hotel-card-unique-title">{{ businessUser?.name }}</h3>
              <p class="hotel-card-unique-location">
                <i class="bi bi-geo-alt-fill"></i> {{ businessUser.address?.streetName }},
          {{ businessUser.address?.city }}, {{ businessUser.address?.state }},
          {{ businessUser.address?.country }}
              </p>
              <div class="hotel-card-unique-text" *ngIf="businessUser.businessDescription">
              <p [innerHTML]="getTrimmedDescription(businessUser.businessDescription)" style=" text-align: justify;">
                {{ businessUser.businessDescription }}
              </p>
          </div>
            </div>

            <!-- Right Side: Image -->
            <div *ngIf="businessUser?.imageList?.length > 0" class="flex-shrink-0" style="width: 240px;">
              <img [src]="businessUser?.imageList[0]?.url" >
            </div>
          </div>

          <!-- Bootstrap Icons -->
        </div>
        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          gap: 30px;
          margin-top: 20px;
        "
      >
        <button class="needassistance" (click)="callNow()">
          <i class="fa-solid fa-phone" style="margin-right: 4px"></i>Need
          Assistance?
        </button>
      </div>

      <div class="d-flex justify-content-center" style="margin-top: 30px">
        <div class="col-8">
          <div class="card enquiry-details-card">
            <h4 class="heading-enquiry">
              <i style="color: #1465cf" class="fa-solid fa-file"></i>&nbsp;
              Enquiry Details
            </h4>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                gap: 20px;
                margin-top: 10px;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="width: 49%; padding-bottom: 10px"
              >
                <div>Enquiry ID:</div>
                <div>

                  <span
                    ><b>{{booking?.enquiryId}}</b></span
                  >
                </div>
              </div>
              <div class="d-flex justify-content-between"></div>
            </div>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                gap: 20px;
                margin-top: 10px;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="width: 50%; padding-bottom: 10px"
              >
                <div>Check-in Date:</div>
                <div>
                  <span *ngIf="booking.checkInDate">
                    <b>{{ booking.checkInDate | date: "d MMM yyyy" }}</b></span
                  >
                </div>
              </div>
              <div
                class="d-flex justify-content-between"
                style="width: 50%; padding-bottom: 10px"
              >
                <div>Check Out Date:</div>
                <div>
                  <span *ngIf="booking.checkOutDate">
                    <b>{{ booking.checkOutDate | date: "d MMM yyyy" }}</b></span
                  >
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                gap: 20px;
                margin-top: 10px;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="width: 50%; padding-bottom: 10px"
              >
                <div>Guests:</div>
                <div>
                  <span>
                    <b
                      >{{ totalPlanAdults }} Adults,
                      {{ totalPlanChildren }} Children</b
                    ></span
                  >
                </div>
              </div>
              <div
                class="d-flex justify-content-between"
                style="width: 50%; padding-bottom: 10px"
              >
                <div>Nights:</div>
                <div>
                  <span>
                    <b>{{ booking?.noOfNights }}</b></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card enquiry-details-card">
            <h4 class="heading-enquiry">
              <i style="color: #1465cf" class="fa-solid fa-user"></i>&nbsp;
              Guest Details
            </h4>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                gap: 20px;
                margin-top: 10px;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="padding-bottom: 10px; width: 100%"
              >
                <div>Name:</div>
                <div>
                  <span>
                    <b>{{ booking.firstName }} {{ booking.lastName }}</b></span
                  >
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                gap: 20px;
                margin-top: 10px;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="padding-bottom: 10px; width: 100%"
              >
                <div>Email:</div>
                <div>
                  <span>
                    <b>{{ booking.email }}</b></span
                  >
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                gap: 20px;
                margin-top: 10px;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="padding-bottom: 10px; width: 100%"
              >
                <div>Mobile No:</div>
                <div>
                  <span>
                    <b>{{ booking.mobile }}</b></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12" style="margin-top: 30px">
        <div class="card enquiry-details-card">
          <h4 class="heading-enquiry">
            <i style="color: #1465cf" class="fa-solid fa-bed"></i> &nbsp;
            Enquiry Details
          </h4>
          <div class="booking-summary-container">
            <table class="booking-summary-table">
              <thead>
                <tr
                  style="
                    border-bottom: 1px solid #e5e7eb;
                    border-radius: 10px;
                    background-color: #f9f9f9;
                  "
                >
                  <th>Selection</th>
                  <th>Price</th>
                  <th>Nights</th>
                  <th>Count</th>
                  <th>Extra Pax</th>
                  <th>Extra Child</th>
                  <th>Sub Total</th>
                  <th *ngIf="booking.discountPercentage">Discount ({{booking.discountPercentage}}%)</th>
                  <th>Tax</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let booking of bookingsResponseList; let last = last"
                >
                  <td>{{ booking.roomRatePlanName }}</td>
                  <td>
                    ₹{{
                      booking.beforeTaxAmount - (booking.extraPersonCharge - booking.extraChildCharge)
                        | number : "1.2-2"
                    }}
                  </td>
                  <td>{{ booking?.noOfNights }}</td>
                  <td>{{ booking.noOfRooms }}</td>
                  <td>₹{{ booking.extraPersonCharge | number : "1.2-2" }}</td>
                  <td>₹{{ booking.extraChildCharge | number : "1.2-2" }}</td>
                  <td>₹{{ booking.beforeTaxAmount | number : "1.2-2" }}</td>
                  <td *ngIf="booking.discountAmount">-₹{{ booking.discountAmount | number : "1.2-2" }}</td>
                  <td>₹{{ booking.taxAmount | number : "1.2-2" }}</td>
                  <td>₹{{ booking.totalAmount | number : "1.2-2" }}</td>
                </tr>
              </tbody>
            </table>

            <div class="booking-summary-footer">
               <div class="footer-borders">
                <div class="d-flex justify-content-between">
                  <div>Final Room Tariff:</div>
                  <div>₹{{ bookingSummaryDetails?.totalPlanPrice - totalDiscount  | number : "1.2-2" }}</div>
                </div>
                </div>
              <div class="footer-borders">
                <div class="d-flex justify-content-between">
                  <div>Total GST:</div>
                  <div>₹ {{ bookingSummaryDetails?.totalTax | number : "1.2-2" }}</div>
                </div>
                </div>
               <div class="footer-borders" *ngIf="bookingSummaryDetails?.totalAddOnsPrice">
                <div class="d-flex justify-content-between">
                  <div>
                    Total Add-on Services Price:
                  </div>
                  <div>
                    ₹{{
                  bookingSummaryDetails?.totalAddOnsPrice -
                    bookingSummaryDetails?.totaltaxfacilityAmount
                    | number : "1.2-2"
                }}
                  </div>
                </div>
                </div>
                <div class="footer-borders" *ngIf="bookingSummaryDetails?.totaltaxfacilityAmount">
                <div class="d-flex justify-content-between">
                  <div>Total Add-on Services Tax Fees:</div>
                  <div>₹{{
                  bookingSummaryDetails?.totaltaxfacilityAmount
                    | number : "1.2-2"
                }}</div>
                </div>
                </div>
                 <div class="booking-summary-total total-borders">
                <div class="d-flex justify-content-between ">
                  <div>Total Amount:</div>
                  <div>₹
                {{ bookingSummaryDetails?.totalAmount | number : "1.2-2" }}</div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="note-sectionOne"
        style="padding-left: 80px; padding-right: 80px"
      >
        <h5>Please note:</h5>
        <ul style="line-height: 30px">
          <li>
            Confirmation: The Hotel Mate team will contact you to confirm your
            booking.
          </li>
          <li>
            Price Changes: Prices are subject to change due to hotel demand. We
            will do our best to offer the Best Available Rate.
          </li>
          <li>
            Room Availability: If rooms are unavailable, we may offer
            alternative accommodations upon your request.
          </li>
          <li>
            Advance Payment: In accordance with the hotel's policy, you may be
            required to pay an advance amount (minimum 20% to full payment).
          </li>
          <li>
            Payment and Booking Confirmation: We will provide you with a payment
            link or scanner. Once payment is received, we will confirm your
            reservation and send a booking confirmation voucher via email and/or
            WhatsApp.
          </li>
          <li>
            Last Minute Bookings: If this is a last minute booking, meaning the
            check-in date is the same as the date of booking or early check-in
            the next day, please call us.
          </li>
          <li>
            Paid Booking: In the event that payment has already been made, and
            we are unable to confirm the booking, we will refund the full amount
            (minus payment gateway charges).
          </li>
          <li>
            Email Confirmation: Please check your spam folder for the email
            confirmation, as it may sometimes be found there.
          </li>
        </ul>
        <div *ngFor="let bServiceDtoList of policies; let i = index">
          <div *ngIf="bServiceDtoList?.policy">
            <div class="property-rules" *ngIf="policies">Property rules:</div>

            <div style="padding: 20px">
              <div [innerHTML]="bServiceDtoList?.policy"></div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="mobile-view-booking-voucher">
  <div class="container-div">
    <div class="responsive-wrapper">
      <div class="row">
        <div class="col-12">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: center;
            "
          >
            <div (click)="backone()" class="backNavigation">
              <i class="fa-solid fa-angle-left"></i> &nbsp; Go Back
            </div>
            <div class="assistance-section">

            </div>
          </div>
        </div>
      </div>

      <div
        class="d-flex"
        style="align-items: center; margin-top: 20px; flex-wrap: wrap;"
      >
        <div class="col-12 text-left font-change">
          <span
            style="
              font-weight: 600 !important;
              color: #000 !important;
              font-size: 35px !important;
            "
            >Thank you!</span
          >
          <div
            class="mb-0"
            style="
              font-weight: 600 !important;
              color: #2563eb !important;
              font-size: 19px !important;
              margin-top: -5px;
            "
          >
            Your reservation is currently on hold.
          </div>
          <div style="color: #615d5d; font-weight: 600; font-size: 13px">
            We’ve sent your enquiry details to your mail. <br />
            Didn’t receive it yet? It might be in your spam folder — or simply
            check WhatsApp.
          </div>
          <div class="hotel-card-unique d-flex flex-row" style="flex-wrap: wrap;" *ngIf="businessUser?.name">
            <!-- Right Side: Image -->
            <div *ngIf="businessUser?.imageList?.length > 0" class="flex-shrink-0" style=" width: 100%; height: 100%;">
              <img [src]="businessUser?.imageList[0]?.url" >
            </div>
            <!-- Left Side: Text Content -->
            <div class="hotel-card-unique-body flex-fill">
              <h3 class="hotel-card-unique-title">{{ businessUser?.name }}</h3>
              <p class="hotel-card-unique-location">
                <i class="bi bi-geo-alt-fill"></i> {{ businessUser.address?.streetName }},
          {{ businessUser.address?.city }}, {{ businessUser.address?.state }},
          {{ businessUser.address?.country }}
              </p>
              <div class="hotel-card-unique-text" *ngIf="businessUser.businessDescription">
              <p [innerHTML]="getTrimmedDescription(businessUser.businessDescription)" style=" text-align: justify;">
                {{ businessUser.businessDescription }}
              </p>
          </div>
            </div>


          </div>
        </div>

        <div style="width: 100%;">

          <div class="card" style="
              text-align: center;
              background-color: #eff6ff;
              padding: 15px 15px;

            ">
            <div class="d-flex justify-content-between">
              <div>
                <div class="mb-1 highlight-text">Enquiry ID</div>
                <div><span *ngIf="booking?.enquiryId">
                <b id="textToCopy">{{ booking?.enquiryId }}</b></span
              >
                </div>
              <div><a
              href="https://thehotelmate.co/history"
              style="
                font-size: 11px;
                color: #1465cf;
                text-decoration: none;
                text-align: left;
              "
              >Check Details </a
            > <span><img
                  src="assets/images/CopyVoucher.png"
                  alt=""
                  height="15px"
                  width="15px"
                  style="margin-right: 3px; margin-left: 5px; cursor: pointer"
                  (click)="copyText()"
              /></span></div>
              </div>
              <div>
                  <div class="mb-1 highlight-text">Current Status</div>
                  <div><span class="status-badge status-enquiry" style="font-size: 13px"
                >Enquiry</span
              >
              <span class="status-badge status-unpaid" style="font-size: 13px; margin-left: 14px;"
                ><i class="fa-solid fa-ban"></i> Unpaid</span
              ></div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div
        style="
          display: flex;
          justify-content: center;
          gap: 30px;
          margin-top: 20px;
        "
      >
        <button class="needassistance" (click)="callNow()">
          <i class="fa-solid fa-phone" style="margin-right: 4px"></i>Need
          Assistance?
        </button>
      </div>

      <div class="d-flex justify-content-center" style="margin-top: 30px; flex-wrap: wrap;">
        <div class="col-12">
          <div class="card enquiry-details-card">
            <h4 class="heading-enquiry">
              <i style="color: #1465cf" class="fa-solid fa-file"></i>&nbsp;
              Enquiry Details
            </h4>

            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                margin-top: 10px;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="width: 100%; padding-bottom: 10px; flex-wrap: wrap;"
              >
                <div>Enquiry ID:</div>
                <div>
                  <span >
                    <b>{{booking?.enquiryId}}</b></span
                  >
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6; flex-wrap: wrap;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="width: 100%; padding-bottom: 10px;"
              >
                <div>Check-in Date:</div>
                <div>
                  <span *ngIf="booking.checkInDate">
                    <b>{{ booking.checkInDate | date: "d MMM yyyy" }}</b></span
                  >
                </div>
              </div>
              <div
                class="d-flex justify-content-between"
                style="width: 100%; padding-bottom: 10px"
              >
                <div>Check Out Date:</div>
                <div>
                  <span *ngIf="booking.checkOutDate">
                    <b>{{ booking.checkOutDate | date: "d MMM yyyy" }}</b></span
                  >
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                flex-wrap: wrap;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="width: 100%; padding-bottom: 10px; "
              >
                <div>Guests:</div>
                <div>
                  <span>
                    <b
                      >{{ totalPlanAdults }} Adults,
                      {{ totalPlanChildren }} Children</b
                    ></span
                  >
                </div>
              </div>
              <div
                class="d-flex justify-content-between"
                style="width: 100%; padding-bottom: 10px"
              >
                <div>Nights:</div>
                <div>
                  <span>
                    <b>{{ booking?.noOfNights }}</b></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12" style="margin-top: 30px;">
          <div class="card enquiry-details-card">
            <h4 class="heading-enquiry">
              <i style="color: #1465cf" class="fa-solid fa-user"></i>&nbsp;
              Guest Details
            </h4>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                gap: 20px;
                margin-top: 10px;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="padding-bottom: 10px; width: 100%"
              >
                <div>Name:</div>
                <div>
                  <span>
                    <b>{{ booking.firstName }} {{ booking.lastName }}</b></span
                  >
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                gap: 20px;
                margin-top: 10px;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="padding-bottom: 10px; width: 100%"
              >
                <div>Email:</div>
                <div class="alignmentChanges">
                  <span>
                    <b>{{ booking.email }}</b></span
                  >
                </div>
              </div>
            </div>
            <div
              class="d-flex justify-content-between"
              style="
                border-bottom: 1px solid #f3f4f6;
                gap: 20px;
                margin-top: 10px;
              "
            >
              <div
                class="d-flex justify-content-between"
                style="padding-bottom: 10px; width: 100%"
              >
                <div>Mobile No:</div>
                <div>
                  <span>
                    <b>{{ booking.mobile }}</b></span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12" style="margin-top: 30px">
        <div class="card enquiry-details-card">
          <h4 class="heading-enquiry">
            <i style="color: #1465cf" class="fa-solid fa-bed"></i> &nbsp;
            Enquiry Details
          </h4>

          <div class="booking-summary-container">
                      <ng-container *ngFor="let booking of bookingsResponseList; let last = last">
              <div class="d-flex justify-content-between">
              <div style="font-weight: bold;">{{ booking.roomRatePlanName }}</div>
              <div>₹{{
                      booking.beforeTaxAmount - (booking.extraPersonCharge - booking.extraChildCharge)
                        | number : "1.2-2"
                    }}</div>
            </div>
            <div class="d-flex justify-content-between">
                <div>Room Count</div>
                <div>{{ booking.noOfRooms }}</div>
            </div>
            <div class="d-flex justify-content-between">
                <div>Extra Pax</div>
                <div>₹{{ booking.extraPersonCharge | number : "1.2-2" }}</div>
            </div>
            <div class="d-flex justify-content-between">
                <div>Extra Child</div>
                <div>₹{{ booking.extraChildCharge | number : "1.2-2" }}</div>
            </div>
            <div class="d-flex justify-content-between">
                <div>Sub Total</div>
                <div>₹{{ booking.beforeTaxAmount | number : "1.2-2" }}</div>
            </div>
            <div class="d-flex justify-content-between" *ngIf="booking.discountAmount">
              <div *ngIf="booking.discountPercentage">Discount ({{booking.discountPercentage}}%)</div>
              <div *ngIf="booking.discountAmount">-₹{{ booking.discountAmount | number : "1.2-2" }}</div>

            </div>

            <div class="d-flex justify-content-between">
                <div>Tax</div>
                <div>₹{{ booking.taxAmount | number : "1.2-2" }}</div>
            </div>
            <hr style="border: 1px solid #E5E7EB; margin-top: 5px; margin-bottom: 5px;">
            <div class="d-flex justify-content-between" style="font-weight: bold;">
                <div>Total Amount</div>
                <div>₹{{ booking.totalAmount | number : "1.2-2" }}</div>
            </div>
          </ng-container>
          </div>
        </div>
      </div>
      <div class="col-12" style="margin-top: 30px">
         <div class="card enquiry-details-card" style=" background-color: #16A34A1A; padding-top: 0px;">
                      <div class="booking-summary-footer">
                        <div class="d-flex justify-content-between" >
                            <div>Final Room Tariff:</div>
                            <div>₹ {{ bookingSummaryDetails?.totalPlanPrice - totalDiscount  | number : "1.2-2" }}</div>
                        </div>
                        <div class="d-flex justify-content-between" *ngIf="bookingSummaryDetails?.totalAddOnsPrice > 0">
                            <div>Total Add-on Services Price:</div>
                            <div>₹ {{
                            bookingSummaryDetails?.totalAddOnsPrice -
                              bookingSummaryDetails?.totaltaxfacilityAmount
                              | number : "1.2-2"
                            }}</div>
                        </div>
                        <div class="d-flex justify-content-between" *ngIf="bookingSummaryDetails?.totaltaxfacilityAmount > 0">
                          <div>Total Add-on Services Tax Fees:</div>
                          <div>₹{{
                              bookingSummaryDetails?.totaltaxfacilityAmount
                                | number : "1.2-2"
                            }}</div>
                        </div>
                        <hr style="border: 1px solid #E5E7EB; margin-top: 10px; margin-bottom: 10px;">
                        <div class="d-flex justify-content-between" style="font-weight: 600; color:#16A34A">
                          <div>Total Amount:</div>
                          <div>₹{{ bookingSummaryDetails?.totalAmount | number : "1.2-2" }}</div>
                        </div>
              <div>
              </div>
            </div>
         </div>
      </div>
      <div
        class="note-sectionOne"
      >
        <h5>Please note:</h5>
        <ul style="line-height: 30px">
          <li>
            Confirmation: The Hotel Mate team will contact you to confirm your
            booking.
          </li>
          <li>
            Price Changes: Prices are subject to change due to hotel demand. We
            will do our best to offer the Best Available Rate.
          </li>
          <li>
            Room Availability: If rooms are unavailable, we may offer
            alternative accommodations upon your request.
          </li>
          <li>
            Advance Payment: In accordance with the hotel's policy, you may be
            required to pay an advance amount (minimum 20% to full payment).
          </li>
          <li>
            Payment and Booking Confirmation: We will provide you with a payment
            link or scanner. Once payment is received, we will confirm your
            reservation and send a booking confirmation voucher via email and/or
            WhatsApp.
          </li>
          <li>
            Last Minute Bookings: If this is a last minute booking, meaning the
            check-in date is the same as the date of booking or early check-in
            the next day, please call us.
          </li>
          <li>
            Paid Booking: In the event that payment has already been made, and
            we are unable to confirm the booking, we will refund the full amount
            (minus payment gateway charges).
          </li>
          <li>
            Email Confirmation: Please check your spam folder for the email
            confirmation, as it may sometimes be found there.
          </li>
        </ul>
        <div *ngFor="let bServiceDtoList of policies; let i = index">
          <div *ngIf="bServiceDtoList?.policy">
            <div class="property-rules" *ngIf="policies">Property rules:</div>

            <div style="padding: 20px">
              <div [innerHTML]="bServiceDtoList?.policy"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="popup-container" *ngIf="copyTextOne">
      <div class="popup-content">Enquiry ID copied successfully!</div>
    </div>

  </div>
</div>
    <div class="popup-container" *ngIf="copyTextOne">
      <div class="popup-content">Enquiry ID copied successfully!</div>
    </div>
</div>

