/* ===============================
   Vertical Navbar
================================= */

.vertical-nav {
  background-color: var(--secondary, #0b01cc);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.close-btn img {
  width: 15px;
  height: 15px;
}

.logo-imagetwo {
  height: 94px;
  margin: 54px 0 20px 14px;
  object-fit: fill;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 15px 0;
  text-align: center;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.nav-link:hover {
  background-color: #343536;
}

hr {
  border: 0.5px solid #343536;
  margin: 0 20px;
}

/* ===============================
   Top Navbar
================================= */

.top-navbar {
    height: 80px;
    background-color: #ffffffb5;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(12px);
}

.container-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo-image {
  height: 64px;
  margin-left: 14px;
  object-fit: fill;
}

.header-section-content {
    display: flex;
    gap: 57px;
    flex-grow: 1;
    justify-content: center;
    font-family: "Plus Jakarta Sans";
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 0.9rem;
}

.header-section-content a {
  color: #45556c !important;
  transition: color 0.3s ease;
  font-weight: 600;
}

.header-section-content a:hover {
  color: var(--secondary, #0b01cc) !important;
}

/* ===============================
   Buttons
================================= */

.blinking-unique-btn {
  background-color: var(--secondary, #0b01cc);
  color: #fff !important;
  font-family: "Plus Jakarta Sans";
  font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 10px 22px;
  border-radius: 100px;
  cursor: pointer;
  border: none;
}

.blinking-unique-btn:hover {
  background-color: var(--tertiary, #0b01cc);
  color: var(--secondary) !important;
}

.Whatsapp-btn-header {
  background: var(--secondary, #0b01cc);
  color: #fff !important;
  font-family: "Plus Jakarta Sans";
font-size: 0.9rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  padding: 10px 22px;
  border-radius: 100px;
  text-transform: uppercase;
  border: none;
  display: flex;
    gap: 5px;
}

.icon-embed-small-01 {
  /* width: 1.7rem;
  height: 1.7rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===============================
   Banner
================================= */

.banner-container {
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-image {
  width: 100%;
  height: auto;
  display: block;
}

/* ===============================
   Responsive
================================= */

@media (max-width: 1180px) {

  .desktop-view-ui {
    display: none;
  }

  .container-div {
    width: 95%;
  }

  .vertical-nav {
    width: 100%;
    height: 100vh;
    box-shadow: none;
    z-index: 3000;
    overflow-x: hidden;
  }

  .close-btn {
    margin-top: 52px;
    position: absolute;
    right: 10px;
  }

  .icon-embed-small-01 {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media (min-width: 1181px) {
  .mobile-view-ui {
    display: none;
  }
}

@media (min-width: 1181px) and (max-width: 1460px) {
  .container-div {
    width: 96%;
  }

  .header-section-content,
  .Whatsapp-btn-header,
  .blinking-unique-btn {
    font-size: 0.9rem;
  }
}

@media (min-width: 1461px) and (max-width: 1800px) {
  .container-div {
    width: 1360px;
  }
}

@media (min-width: 1801px) {
  .container-div {
    width: 1560px;
  }
}
