.vertical-nav {
    background-color: var(--secondary, #0b01cc);
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  padding-top: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}
.header-section-content {
      display: flex;
    gap: 30px;
    color: white;
    flex-grow: 1;
    justify-content: center;
    font-family: "Barlow";
    letter-spacing: 1px;
        font-family: 'Barlow';
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    transition: color .3s ease;
    font-size: 18px;
}
.close-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.logo-imagetwo {
  width: 94px;
  height: 94px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: fill;
  margin-left: 14px;
  margin-bottom: 20px;
}

.close-btn img {
  width: 15px;
  height: 15px;
}

.nav-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 15px 0;
  text-align: center;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  transition: background 0.3s ease;
}

.nav-link:hover {
  background-color: #343536;
}

.nav-link i {
  margin-right: 10px;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

hr {
  border: 0.5px solid #343536;
  margin: 0 20px;
}

.content {
  padding: 20px;
  color: #fff;
}

@media (max-width: 768px) {


  .nav-item {

    margin: 15px 0;
  }

  .nav-link {
    justify-content: center;
  }
}

  .top-navbar {
    height: 80px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
  }

  .container-div {
    display: flex;
    justify-content: space-between;  /* Spaces elements left and right */
    align-items: center;
}


.left-section {
  display: flex;
  align-items: center;
}

.logo-image {
  width: 100%;
  height: 64px;

  margin-right: 10px;
  object-fit: fill;
  margin-left: 14px;
}

  .navbar-toggler {
    background: none;
    border: none;
    cursor: pointer;
  }

  /* Unique blink button styles */
.blinking-unique-btn {
  padding: 5px;
  border-radius: 12px;
  border: 0px solid #6C8003;
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
          background-color: #2563EB !important;
          color:  #fff !important;
          border: none;
    padding: 14px 28px;
    letter-spacing: 1px;

}
.blinking-unique-btn:hover {
background-color: var(--tertiary, #fff);
color: var(--secondary, #0b01cc) !important;
}
.Whatsapp-btn-header {
    background: linear-gradient(90deg, #22C55E 0%, #16A34A 100%);
    color: #fff;
    font-family: "Poppins";
    border: none;
    padding: 14px 28px;
    letter-spacing: 1px;
border-radius: 12px;
}
/* df-messenger-chat-bubble {
  display: none !important;
} */
/* Visit Website Section */
.unique-container {
  position: absolute;
  bottom: 0;
  width: 100%;

}

.unique-inner-div {
  text-align: center;
  padding: 20px;
}


  .navbar-toggler img {
    width: 24px;
    height: 24px;
  }

  .title-nav {
    color: #fff;
    margin-right: auto;
    font-size: 1.5em;
  }

  .back-button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding: 10px;
  }

  .back-button i {
    font-size: 1.5em;
  }

  @media (max-width: 768px) {
    .top-navbar {
      height: 77px;
      padding: 0 10px;
    }

    .left-section {
      margin-left: 10px;
    }

    .title-nav {
      margin-left: 5px;
    }

    .logo-imagetwo {
      /* margin-top: 20px !important; */
      margin-bottom: 20px !important;
    }



    .navbar-toggler {
      margin-right: 8px;
    }

    .title-nav {
      font-size: 1.2em;
    }

    .navbar-toggler img {
      width: 20px;
      height: 20px;
    }

    .back-button i {
      font-size: 1.2em;
    }
  }

  df-messenger {
    z-index: 1011;
    position: fixed;
    bottom: 99px !important;
  }



  .banner-container {
    width: 100%;
    margin-top: 80px; /* Adjust this value based on your fixed navbar height */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
  }

  @media (max-width: 768px) {
    .banner-container {
      margin-top: 70px; /* Adjust this value for smaller screens if needed */
    }
  }

  @media (max-width: 480px) {
    .banner-container {
      margin-top: 60px; /* Adjust this value for even smaller screens if needed */
    }
  }

  @media (min-width: 601px) and (max-width: 1180px) {
  .container-div {
    width: 75%;
  }
}

  @media (max-width: 1180px) {
    .desktop-view-ui {
      display: none;
    }
    .container-div {
      width:95%
    }
        .vertical-nav{
              width: 100%;
        height: 130vh;
        box-shadow: none;
        z-index: 3000;
        margin-top: -70px;
        overflow-x: auto;
        overflow-y: auto;
    }

    .nav-item {
        margin: 11px 0;
    }
        .close-btn {
        margin-top: 52px;
        position: absolute;
        right: 10px;
    }
.logo-imagetwo {
        margin-bottom: 20px !important;
        margin-top: 54px !important;
    }
    }

    @media (min-width: 1181px) {
      .mobile-view-ui {
        display: none;
      }
    }

    @media (min-width: 1181px) and (max-width: 1460px) {
.container-div {
  width: 96%;
}
    }
 @media (min-width: 1461px) and (max-width: 1800px) {
.container-div {
  width: 1360px;
}
 }

 @media (min-width: 1801px){
.container-div {
  width: 1560px;
}
 }
